policy_module(atomicrevoke,1.0)

gen_require(`
        type tmpfs_t;
        type unconfined_t;
        ')

type atomicrevoke_t;
fs_associate(atomicrevoke_t);

allow unconfined_t atomicrevoke_t:file {relabelto relabelfrom unlink open read setattr getattr};
allow atomicrevoke_t tmpfs_t:filesystem associate;